<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="bootstrap.min.css">

<div id="app">
	<!-- Tab links -->
	<div class="tab">
	  <button class="tablinks active" onclick="openCity(event, 'Pelet')">Pelet</button>
	  <button class="tablinks active" onclick="openCity(event, 'Pin')">Pin</button>
	  <button class="tablinks active" onclick="openCity(event, 'History Data')">History Data</button>
	  <button class="tanlinks active" onclick="openCity(event, 'Power Profile')">Power Profile</button>
	</div>
		
	<!-- Tab content -->
	<div id="Pelet" class="tabcontent">
		<div class="row justify-content-center">
			<div class="col-10">
				<div class="row">
					<div style="width:150">Berat total (gram)</div>
						<div style="width: 460"><div class="row">
							<div style="width: 150">: <a id="berat-pelet"></a></div>
						</div></div>
				</div>
				<div class="row">
					<div style="width:150">Dish (cm)</div>
						<div style="width:460"><div class="row">
							<div style="width:130">: Atas = <a id="top-dish"></a></div>
							<div style="width:150">Bawah = <a id="bot-dish"></a></div>
							<div style="width:180">Kedalaman = <a id="depth-dish"></a></div>
						</div></div>
				</div>
				<div class="row">
					<div style="width:150">Chamfer (cm)</div>
						<div style="width:460"><div class="row">
							<div style="width:130">: Lebar = <a id="width-chamf"></a></div>
							<div style="width:180">Kedalaman = <a id="depth-chamf"></a></div>
						</div></div>
				</div>
			</div>
		</div>
		
		<div class="row justify-content-center">
			<div class="col-10">
				<table id="london-tabel" class="styled-table">
				<caption>Spesifikasi Pelet</caption>
				<tr><th rowspan="2">Node<th colspan="2" style="width: 140;">Diameter (cm)<th rowspan="2" style="width: 50;">Panjang (cm)<th colspan="2">Shape
				<th rowspan="2" style="width: 100;">U-235 Ench.<th rowspan="2">Densitas<th rowspan="2" style="width: 50;">Panjang Node (cm)
				<tr><th>Dalam<th>Luar<th>Chamf<th>Dish
				</table>
			</div>
		</div>
	</div>
	
	<div id="Pin" class="tabcontent">
		<div class="row justify-content-center">
			<div class="col-4">
			<fieldset class="fieldset">
			<legend class="legend">Kelongsong</legend>
				<div style="width: 400"><div class="row">
					<div style="width:200">Material</div>
					<div style="width:200"><a id="clad-mat"></a></div>
					<div style="width:200">Inner Diameter</div>
					<div style="width:200"><a id="clad-id"></a> cm</div>
					<div style="width:200">Outer Diameter</div>
					<div style="width:200"><a id="clad-od"></a> cm</div>
				</div></div>
			</fieldset>
			<fieldset class="fieldset">
			<legend class="legend">Gap</legend>
			<div style="width: 400"><div class="row">
				<div style="width:200">Pressure</div>
				<div style="width:200"><a id="gap-press"></a> MPa</div>
				<div style="width:200">He</div>
				<div style="width:200"><a id="He-comp"></a> %</div>
				<div style="width:200">N2</div>
				<div style="width:200"><a id="N2-comp"></a> %</div>
				<div style="width:200">Kr</div>
				<div style="width:200"><a id="Kr-comp"></a> %</div>
				<div style="width:200">Xe</div>
				<div style="width:200"><a id="Xe-comp"></a> %</div>
			</div></div>
			</fieldset>
			<fieldset class="fieldset">
			<legend class="legend">Plenum</legend>
			<div style="width: 400"><div class="row">
				<div style="width:200">Upper Volume</div>
				<div style="width:200"><a id="up-vol"></a> cm<sup>3</sup></div>
				<div style="width:200">Lower Volume</div>
				<div style="width:200"><a id="low-vol"></a> cm<sup>3</sup></div>
			</div></div>
			</fieldset>
			</div>
		</div>
	</div>

	<div id="History Data" class="tabcontent">
		<div class="row justify-content-center">
			<div class="col-10">
				<table id="hist-table" class="styled-table">
				<caption>History Data</caption>
				<tr><th style="width: 120">Time<th style="width: 120">Burnup
					<th style="width: 120">Linier Heat Rate<th style="width: 120">Coolant Temperature
					<th style="width: 120">Coolant Pressure<th style="width: 120">Fast Neutron Flux
					<th style="width: 120">Coolant Velocity<th style="width: 120">History Option
					<th style="width: 120">Print Option<th style="width: 120">SS/US Option
				</table>
			</div>
		</div>
	</div>

	<div id="Power Profile" class="tabcontent">
		<div class="row justify-content-center">
			<div class="col-11">
				<table id="pwr-profile" class="styled-table">
					<caption>Relative Power Profile</caption>
					<tr><th rowspan = "2" style="width:80;height:60px;">No</th>
						<th colspan = "3" style="width:100;height:60px;">Relative Power Profile of Axial Segment</th>
					</tr>
				</table>

			</div>
		</div>
	</div>
</div>

<script src="script.js"></script>
<script src="load.js"></script>
<script>

document.getElementById("berat-pelet").innerHTML = pellet.weight
document.getElementById("top-dish").innerHTML = pellet.dish_val[0]
document.getElementById("bot-dish").innerHTML = pellet.dish_val[2]
document.getElementById("depth-dish").innerHTML = pellet.dish_val[1]
document.getElementById("width-chamf").innerHTML = pellet.chamf_val[0]
document.getElementById("depth-chamf").innerHTML = pellet.chamf_val[1]
tabel = document.getElementById("london-tabel");
isi_tabel(pellet, pellet_keys, tabel);

if (clad.mat == 0){
	document.getElementById("clad-mat").innerHTML = "RA Material"
}else{
	document.getElementById("clad-mat").innerHTML = "SR Material"
}
document.getElementById("clad-id").innerHTML = clad.id
document.getElementById("clad-od").innerHTML = clad.od
document.getElementById("gap-press").innerHTML = gap.pressure
document.getElementById("He-comp").innerHTML = gap.He * 100
document.getElementById("N2-comp").innerHTML = gap.N2 * 100
document.getElementById("Kr-comp").innerHTML = gap.Kr * 100
document.getElementById("Xe-comp").innerHTML = gap.Xe * 100
document.getElementById("up-vol").innerHTML = plenum.up_vol
document.getElementById("low-vol").innerHTML = plenum.low_vol

tabel_hist = document.getElementById("hist-table");
tableHist(hist, hist_keys, ax, ax_keys, tabel_hist);

pwr_profile = document.getElementById("pwr-profile");
table_pwrprofile(ax_keys, ax, pwr_profile);
</script>
