/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #2fdd99;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #2fdd99;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 1s;
  color: white;
  font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #36c58d;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #28b37d;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.styled-table {
	caption-side: top;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table caption{
    font-size: 1.25em;
}

.styled-table th{
    background-color: #38cf86;
    color: white;
	text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 3px 5px;
}

.styled-table tbody tr {
    border-bottom: 2px solid #dddddd;
}

.styled-table tbody tr:nth-child(even) td {
    background-color: #e4fff2;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.fieldset {
	border-width: 2px;
    border-color: #55525e;
	color: #6c757d;
    border-style: solid;
    /* display: block; */
    border-radius: 10px;
    padding: 10px 15px;
}

.legend {
	display: block;
	float: none;
	width: auto;
	padding: 1px 9px;
	margin-bottom: -0.5rem;
}